.home-wrapper {
    margin: 42px auto;
    padding: 72px 48px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 4px;
}

.top-section {
    margin: 50px 0;
}
.top-flex-column {
    display: flex;
    flex-direction: row;
}

.top-flex-element {
    position: relative;
    display: flex;
}
.top-flex-element a {
    margin: 0;
    padding: 0;
}

.top-flex-element img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.top-flex-element-right {
    margin-right: 5px;
    margin-bottom: 5px;
}

.title-wrapper {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate((-50%, -50%));
    text-align: center;
    display: inline-block;
}

.bottom-flex-element {
    background-color: #ff6b6b;
    height: 100px;
    position: relative;
    border-radius: 4px;
}


.title-wrapper h3, h5 {
    margin: 0;
    padding: 0;
    color: white;
}
.flex-1 {
    flex: 1;
    position: relative;
}

.flex-2 {
    flex: 3;
    position: relative;
}

//Top section hover animation

.title-wrapper h5 {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.bottom-flex-element:hover h5 {
  opacity: 1;
  transform: translateY(0);
}

.top-flex-element:hover h5 {
    opacity: 1;
    transform: translateY(0);
  }

.title-wrapper h3 {
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    opacity: 1;
    transform: translateY(20%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .bottom-flex-element:hover h3 {
    transform: translateY(0);
  }
 
  .top-flex-element:hover h3 {
    transform: translateY(0);
  }


//Carusel 

.carousel {
    margin-top: 80px;
}

.carousel-fex-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-cell {
  width: 100%;
  counter-increment: gallery-cell;
}

.carousel img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.carousel-title {
    padding: 0 30px;
}

.review-name {
    font-family: 'Times', serif;
}


//Gallery 

.gallery-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery-flex-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gallery-middle {
    padding: 0 10px;
}

.gallery-flex-column-bottom {
    display: none;
}



//gallery hover 


.icons .fa-heart {
    color: red;
}

.icons .fa-share-nodes {
    color: rgb(137, 0, 0);
}

.gallery-element {
    overflow: hidden;
    object-fit: cover;
    height: 200px;
    padding: 5px 0;
    position: relative;
  }
  
  .icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease, transform 0.5s ease;
    z-index: 1;
  }
  
  .gallery-element:hover .icons {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .icons i {
    display: inline-block;
    font-size: 20px; /* Adjust the size as needed */
    transition: font-size 1s ease;
  }
  
  .gallery-element:hover .icons .fa-heart{
    font-size: 30px; /* Larger size for the heart icon */
  }

  .gallery-element img {
    z-index: 0;
    opacity: 1;
    transition: opacity 1s ease, transform 0.5s ease;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .gallery-element:hover img {
    opacity: 0.7;
    background-color: grey;
  }

  //Footer

  footer a {
    color: #ff6b6b;
  }

@media (max-width: 768px) {
    //Top section 
    .top-flex-column {
        flex-direction: column;
    }
    .top-flex-element-right {
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .bottom-flex-element {
        margin-top: 5px;
    }
   //Top section 
   
    .carousel-fex-column {
        display: flex;
        flex-direction: column;
    }

    .carousel-cell {
      width: 100%;
      counter-increment: gallery-cell;
    }
    
    .carousel img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .carousel-title {
        padding: 0 30px;
    }

    //Gallery 
    .gallery-flex-column-right {
        display: none;
    }
    .gallery-flex-column-bottom {
        display: flex;
        flex-direction: row;
    }
    .gallery-middle {
        padding-right: 0;
    }

    .ge-right {
        padding-left: 10px;
    }
}













